body {
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #c6c6c6;
=======
  background-color: pink;
>>>>>>> c808e4680edf5a7d10d92c616c8ce4dc51706fe4
=======
  background-color: rgb(246, 222, 226);
>>>>>>> 224ee4b589f964b25685f069c4648c28442ff033
}

h1 {
}

h2 {
}

p {
}
